* {
    box-sizing: border-box;
}

/* GENERAL / GLOBAL */

html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #732181;
}

body {
    margin: 0;
    padding: 0;
    font-size: 200%;
    background-color: #efefef;
    max-width: 1920px;
    box-shadow:
    -2rem 0 2rem -1rem rgba(0,0,0,0.15),
    2rem 0 2rem -1rem rgba(0,0,0,0.15);
}

main a,
main a:visited {
    text-decoration: none;
    color: #732181;
}

main a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
    body {
        font-size: 180%;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 140%;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 120%;
    }
}

/* HEADER - WARNING: CONTAINS BUSINESS CARD */

header {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    background-color: black;
    color:white;
    padding: 0.5em;
}

header > a {
    font-size: clamp(1.5em, 13vw, 3em);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    line-height: 0.9em;
}

header > a span {
    display:block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1em;
}

/* BUSINESS CARD */

header aside {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: row dense;
    justify-content: start;
    gap: 2em;
    padding: 1em;
    font-size: 50%;
}

header aside section p,
header aside section address {
    white-space: nowrap;
}

header aside img {
    max-width: 180px;
    margin-bottom: 1em;
}

header aside section:nth-of-type(1) {
    margin-top: 1em;
}

header aside section:nth-of-type(2) p {
    margin-top: 8.25em;
    font-style: normal;
    font-weight: bold;
}

header aside section:nth-of-type(2) p span {
    font-weight: normal;
}

header aside address {
    font-style: normal;
}

header aside address a {
    line-height: 2em;
    text-decoration: none;
    color: black;
}

header aside {
    transform: rotate(2deg) scale(0.8);
    transform-origin: center;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}

/* hide business card when small screen */
@media (max-width: 1230px) {
    header aside {
        display: none;
    }
}

/* MAIN CONTENT AREA */

main {
    padding: 0;
}

main section {
    clear: both;
    overflow: auto;
    padding: 0.5em;
}

main section > p:first-of-type {
    margin-top: 0;
}

main h1 {
    /* taking out for now, may put back later */
    display: none;
    /* margin: 0 0 0.5em 0; */
}

/* COMPETENCY PAGES - DESCRIPTION */

main .competency-description-section {
    background-color: white;
}

main .competency-description-section img:first-of-type {
    float: left;
    max-width: 200px;
    margin-right: 0.5em;
    background-color:black;
    border-radius: 10px;
}

/* small sreen - big image */
@media (max-width: 500px) {
    main .competency-description-section img:first-of-type {
        max-width: 100%;
        display: block;
    }
}

/* COMPETENCY PAGES - ARTIFACT */

main .artifact-section:nth-of-type(odd) {
    background-color: white;
}

main .artifact-section:nth-of-type(even) {
    background-color: #efefef;
}

main .artifact-section h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

main .artifact-section img:first-of-type {
    max-width: 500px;
}

main .artifact-section figure {
    float: left;
    max-width: 500px;
    background-color: #732181;
    color: white;
    border-radius: 10px;
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em;
}

main .artifact-section figcaption {
    text-align: center;
    font-size: 0.8em;
}

/* ABOUT SECTION */

main #about-section {
    padding-bottom: 1em;
}

main #about-section img {
    max-width: 512px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: white;
    padding: 0.5em 0.5em 1.5em 0.5em;
    margin: 1em;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 10px;
}

main #about-section img:nth-of-type(odd) {
    float: left;
    transform: rotate(2deg);
}

main #about-section img:nth-of-type(even) {
    float: right;
    transform: rotate(-2deg);
}

/* medium sreen - smaller images */
@media (max-width: 1000px) {
    main #about-section img {
        max-width: 50%;
    }
}

/* small screen - full width image */
@media (max-width: 800px) {
    main #about-section img {
        max-width: 100%;
        display: block;
        margin: 0 0 1em 0;
        transform: rotate(0deg) !important;
    }
}

/* INSTRUCTOR COMPETENCIES */

main #instructor-competencies-section {
    background-color: white;
}

main #instructor-competencies-section h2 {
    margin-top: 0;
}

main #instructor-competencies-section img {
    max-width: 400px;
    margin-bottom: 1em;
    float: right;
}

/* medium and smaller - make image wide */
@media (max-width: 850px) {
    main #instructor-competencies-section img {
        max-width: 100%;
        display: block;
    }
}

main #instructor-competencies-section p:last-of-type {
    margin-bottom: 0;
}

main #instructor-competencies-section nav {
    margin: 1em;
}

main #instructor-competencies-section nav ul li p {
    display:none;
}

main #instructor-competencies-section nav ul {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-around;
}

/* wrap competencies if too small */
@media (max-width: 1000px) {
    main #instructor-competencies-section nav ul {
        flex-wrap: wrap;
    }
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: auto max-content max-content;
    column-gap: 2em;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0.5em;
}

@media (max-width: 1400px) {
    footer {
        grid-template-columns: auto;
    }
}

footer > a {
    font-size: clamp(1em, 10vw, 2em);
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-bottom: 0.5em;
}

footer > a span {
    display:block;
    font-size: 0.75em;
    font-weight: normal;
}

footer ul {
    margin-top: 0;
    font-size: 0.8em;
    line-height: 1.5em;
}

footer p {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}

footer a {
    color: white;
    text-decoration: none;
}
