* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

img {
    max-width: 100%;
}

header {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    background-color: black;
    color:white;
    padding: 0.5rem;
    padding-left: 1rem;
}

header > a {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header > a span {
    display:block;
    font-size: 2.5rem;
    font-weight: normal;
}

header aside {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-grid;
    grid-template-columns: max-content max-content;
    grid-auto-flow: row dense;
    justify-content: start;
    gap: 2rem;
    padding: 1rem;
    font-size: 50%;
}

header aside section p,
header aside section address {
    white-space: nowrap;
}

header aside img {
    width: 100px;
    margin-bottom: 1em;
}

header aside section:nth-of-type(2) p {
    margin-top: 8em;
    font-style: normal;
    font-weight: bold;
}

header aside section:nth-of-type(2) p span {
    font-weight: normal;
}

header aside address {
    font-style: normal;
}

header aside address a {
    line-height: 2em;
    text-decoration: none;
    color: white;
}

header aside {
    transform: rotate(2deg) scale(0.8);
    transform-origin: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

@media (max-width: 660px) {
    header aside {
        display: none;
    }
}





