* {
    box-sizing: border-box;
}

a, a:visited {
    color: #c3da63;
}

footer a, footer a:visited {
    color: #008371;
}

h1, h2, h3, h4, h5, h6, footer {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #737373;
}

body {
    margin: 0;
    padding: 0;
    max-width: 780px;
    min-width: 320px;
    background-color: white;
    font-size: 125%;
    box-shadow:
        -10px 0 15px -5px rgba(0, 0, 0, 0.3),
        10px 0 15px -5px rgba(0, 0, 0, 0.3);
}

body aside h1::before {
    content: "â¯ "; 
    display: inline-block;
    margin-right: 0.25em;
}

body aside h1.open::before {
    transform: rotate(90deg); /* down arrow */
}

body aside h1 {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 1.2em;
}

body aside > *:not(h1) {
    display:none;
}

body aside {
    padding: 1em;
}

main {
    background-color: #008371;
    color: white;
    padding: 1em;
}

main header {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
}

main header img {
    flex: 0 0 auto;
    order: 1;
    max-width: 75px;
    max-height: 100px;
    object-fit: contain;
}

main header h1 {
    flex: 1 0 auto;
    order: 2;
    margin-left: 0.5em;
}

main header p {
    flex-basis: 100%;
    order: 3;
}

main section { 
  border-top: 4px solid #c3da63;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

footer p {
    padding: 1em;
}