* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body {
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
    position: relative;
}

h1 {
    display: none;
}

#sky {
    width: 100%;
    height: 100%;
    background-image: url('../images/sky.png');
    background-position-x: center;
    background-position-y: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#ceiling {
    position: absolute;
    top: -150px;
    width: 100%;
    height: 430px;
    background-image: url('../images/ceiling.png');
    background-position-x: 50%;
    background-position-y: center;
    background-size: 150%;
    background-repeat: no-repeat;
}

#land {
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 630px;
    background-image: url('../images/landscape.png');
    background-position-x: 50%;
    background-position-y: center;
    background-size: 150%;
    background-repeat: no-repeat;
}

#floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 350px;
    background-image: url('../images/crowd.png');
    background-position-x: 50%;
    background-position-y: center;
    background-size: 200%;
    background-repeat: no-repeat;
}

#modals {
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#q1, #q2, #q3, #info {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    max-width: 50%;
    border: 3px solid black;
    transition: all 0.5s ease;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#q1.show, #q2.show, #q3.show, #info.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#buttons {
    position: absolute;
    top: 0;
    left: -75px;
    z-index: 1002;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#b1, #b2, #b3, #binfo {
    cursor: pointer;
    padding: 1em;
    margin: 1em;
    background-color: red;
    border-radius: 10px;
    width: 100px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    border: 3px solid black;
}

#b1, #q1 {
    background-color: white;
    color: black;
}

#b2, #q2 {
    background-color: red;
    color: black;
}

#b3, #q3 {
    background-color: yellow;
    color: black;
}

#binfo, #info {
    background-color: black;
    color: white;
    border: 3px white solid;
}
