/* Reset Some Things */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 200%;
    background: -webkit-linear-gradient(-45deg, #3dff32 0%, #30f4ff 50%, #ff00fa 100%);
    background: -o-linear-gradient(-45deg, #3dff32 0%, #30f4ff 50%, #ff00fa 100%);
    background: -ms-linear-gradient(-45deg, #3dff32 0%, #30f4ff 50%, #ff00fa 100%);
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

h1 {
    color: rgb(36, 192, 253);
    font-family: Impact;
    letter-spacing: -3px;
    text-shadow: rgb(0, 0, 170) 10px -10px 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-color: rgb(0, 0, 170);
    -webkit-text-stroke-width: 1.5px;
    text-align: center;
}

h2 {
    margin-top: 0;
    font-size: larger;
}

section {
    padding: 0.5em 1em 0.5em 1em;
    background-color: #d4d0c8;
    color: #000;

    cursor: pointer;
    transition: all 0.5s ease;

    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #ccc;
}

section.hide h2 {
    margin-bottom: 0;
}

section h2::before {
    content: '▶';
    transform: rotate(90deg);
    float: left;
    margin-right: 0.5em;
}

section.hide h2::before {
    transform: rotate(0deg);
}

section.hide *:not(h2) {
    display: none;
}

section img {
    float: left;
    background-color: white;
    border: dotted black 2px;
    border-radius: 4px;
    padding: 0.5em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    max-width: 320px;
}

section ul {
    padding-left: 1.5em;
    list-style-position: outside;
}

section#assignment.hide {
    animation: 3s linear 0s infinite normal none running shake;
}

section#assignment {
    background-color: darkslategray;
    color: white;
}

section#assignment h3 {
    background: #fffa28;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZhMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWM4YTM5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fffa28), color-stop(100%, #ec8a39));
    background: -webkit-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
    background: -o-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fffa28 0%, #ec8a39 100%);
    background: radial-gradient(ellipse at center, #fffa28 0%, #ec8a39 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffa28', endColorstr='#ec8a39', GradientType=1);
    font-family: Impact, sans-serif;
    font-weight: bold;
}

section#assignment h4 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    background: #7286a7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyODZhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEzJSIgc3RvcC1jb2xvcj0iIzcyODZhNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzgxMmYzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #7286a7 0%, #7286a7 13%, #ffffff 50%, #812f30 56%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7286a7), color-stop(13%, #7286a7), color-stop(50%, #ffffff), color-stop(56%, #812f30), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #7286a7 0%, #7286a7 13%, #ffffff 50%, #812f30 56%, #ffffff 100%);
    background: -o-linear-gradient(top, #7286a7 0%, #7286a7 13%, #ffffff 50%, #812f30 56%, #ffffff 100%);
    background: -ms-linear-gradient(top, #7286a7 0%, #7286a7 13%, #ffffff 50%, #812f30 56%, #ffffff 100%);
    background: linear-gradient(to bottom, #7286a7 0%, #7286a7 13%, #ffffff 50%, #812f30 56%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7286a7', endColorstr='#ffffff', GradientType=0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#assignment ul li strong {
    text-decoration: underline;
}

section#assignment ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

@keyframes shake {
    0% {
        transform: translateX(3px) rotate(1deg);
    }

    2.5% {
        transform: translateX(-3px) rotate(-1deg);
    }

    5% {
        transform: translateX(3px) rotate(1deg);
    }

    7.5% {
        transform: translateX(-3px) rotate(-1deg);
    }

    10% {
        transform: translateX(2px) rotate(1deg);
    }

    12.5% {
        transform: translateX(-2px) rotate(-1deg);
    }

    15% {
        transform: translateX(2px) rotate(1deg);
    }

    17.5% {
        transform: translateX(-2px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    22.5% {
        transform: translateX(-1px) rotate(-1deg);
    }

    25% {
        transform: translateX(0px) rotate(0deg);
    }
}
